@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1abc9c;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .logo img {
    max-width: 200px;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    background-color: #000000;
    border: none;
  }
  
  section {
    padding: 50px;
  }
 

.slider {
    margin: 20px 0;
    overflow: hidden;
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 40%;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: auto;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.logo img {
    border-radius: 50%;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #00bcd4;
}
.social .social-icons{
  align-content: center;
}

/*about us*/

#about-us {
    background-color: white;
    padding: 20px;
    text-align: center;
}


h1, h2 {
    color: #333;
    text-align: center;
}


p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    justify-content: center;
  
}
p strong {
font-weight: 800px;
}


.About {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;

}

/*services*/

.tabs {
    overflow: hidden;
    display :flex;
    justify-content: center;
}

.tablinks {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 20px;
    float: left;
}

.tablinks:hover {
    background-color: #1abc9c;
}

.tabcontent {
    display: none;
}

#services {
    padding: 50px 0;
    text-align: center;
  }
  
  #services h2 {
    font-size: 2rem;
    font-weight: 600px;
    margin-bottom: 30px;
    color: #379683; 
  }
  
  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .service {
    background-color: #cfdbdb; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
    overflow: hidden; 
  }
  
  .service:hover {
    transform: translateY(-5px);
  }
  
  .service img {
    border-radius: 5px;
    transition: transform 0.3s;
    height:200px;
    width: 200px;
    padding-left: 15px;
    padding-top: 10px;
  }
  
  .service img:hover {
    transform: scale(1.1); 
  }
  
  .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #d4e7dc; 
  }
  
  .service p {
    color: #d3e9cf; 
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .service a {
    background-color: #1abc9c; 
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .service a:hover {
    background-color: #1abc9c; 

  }
  
    /*==Testimonials Start==*/
    .testimonials-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    
    .testimonial-card {
      width: 300px;
      padding: 20px;
      background-color: #555;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .testimonial-card img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 15px;
    }
    
    .testimonial-rating {
      font-size: 24px;
      color: #ffd700; /* Yellow color for stars */
    }
    
    .testimonial-info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
    
    .testimonial-author {
      font-style: italic;
      font-weight: bold;
      color: #333;
    }
    
    .testimonial-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    /*==Testimonials End==*/
  
      /* Style the link */
      a {
          text-decoration: none; 
          color: inherit; 
          display: inline-block; 
          border: 2px solid #555; 
          padding: 5px 10px; 
          border-radius: 5px; 
          transition: all 0.3s; 
      }
  
      /* Style the link on hover */
      a:hover {
          background-color: #555; /
         
      }
  
      /* Style the image inside the link */
      img {
          vertical-align: middle; 
          margin-right: 5px; 
      }
  
      /*services forms*/
      form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: white;
        color: black;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: black;
        color: white;
    }



/*contact form*/

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #1abc9c;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #151a19);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}
#sendMessageButton {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
#messageNotification {
  display: none;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
 

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 50%;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #0f0f0f, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}


/*footer styling*/
footer {
    background-color: #1abc9c;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-media a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
  }
  
  .social-media a i {
    font-size: 2em;
    color:black;
    opacity: 0.9;
  }
  /*===Hover Effect On Social Icons===*/
  .social-media a:hover {
    background-color: black;
    transition: 0.5s;
  }
  .social-media a:hover i {
    color: #fff;
    transition: 0.5s;
  }

  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /*===Footer End===*/
 
  
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  section {
    min-height: 100vh;
    width: 100%;
    background: url(laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  quote {
    background: rgba(47, 49, 65, 0.5);
    color: white;
    padding: 70px 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 16px 42px -23px rgba(0,0,0,0.44);
  }
  
  .home h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    margin-bottom: 1rem;
    font-weight: 500;
    color: white;
  }
  
  .home p {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    color: white;
  }

  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #000000;
}

.search-container {
    margin-top: 20px;
    display: flex;
}
  
  @media screen and (max-width: 950px) {
    
    .logo {
      padding-left: 40px;
    }
    
    .nav-item {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 850px) {
    
    .checkbtn {
      display: block;
    }
    
    nav > ul {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 40px;
      width: 100%; 
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: 100%;
      text-align: center;
      transition: all 0.5s;
      overflow-y: scroll;
      padding: 70px 0 80px;
    }
    
    nav > ul > li {
      display: block;
      line-height: 30px;
    }
    
    .nav-item {
      font-size: 20px;
    }
    
   .active, .nav-item:hover {
      background: none;
      color: #0082e6;
    }
    
    #check:checked ~ ul {
      left: 0;
    }
  }
  /* CSS for Team Members Section */

#team-members {
  padding: 50px 0; 
}

.team-member {
  text-align: center;
  margin-bottom: 30px; 
}

.team-member img {
  width: 250px; 
  height: auto; 
  border-radius: 50%; 
  border: 2px solid #ccc; 
}

.team-member h3 {
  margin-top: 20px; /
}

.team-member p {
  font-style: italic;
  color: #666;
}




.contact-section {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.contact-section h2 {
  color: #333;
  margin-bottom: 20px;
}

.contact-section p {
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-section .btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-section .btn:hover {
  background-color: #1abc9c;
}


/*ABOUT US*/

.About {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.mission-vision-container {
  max-width: 1000px; 
  margin: 0 auto;
}

.mission-vision {
  display: flex;
  justify-content: space-between;
}

.mission,
.vision {
  flex-basis: 48%;
}


.mission,
.vision {
  border: 5px solid #1abc9c;
  padding: 20px;
  border-radius: 20px;
}

.mission h2,
.vision h2 {
  color: #333;
}

.text {
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}

.text h2 {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 50px;
}
.text h1 span{
  text-emphasis: 10px;
}

.text p{
  display: flex;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 200;
  text-justify: auto;
  text-align: justify;
}


/* Slideshow CSS */
.slideshow-container {
  max-width: 90%; 
  margin-left: 90px;
  position: relative;
  top: 20px;
  left: 150px;
  bottom: 20px;
  overflow: hidden; 
  align-content: justify;
}

.cyber-info h1{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: 50px;
  text-shadow: 2px 1px #1abc9c;
}

.mySlides {
  display: none;
  width: 100%;
}



.review-container {
  max-width: 800px;
  margin-top: 1px ;
  padding: 10px;
}

#sort .reviews {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;

}


.review {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;

}

.review img {
  border-radius: 10%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.date {
  font-style: italic;
  margin-bottom: 5px;
}

.rating {
  display: flex;
  margin-bottom: 10px;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  margin-right: 5px; 
}

.rating input[type="radio"]:checked ~ label {
  color: #ffcc00;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
}


/*styling the review button*/

.Review-section {
  text-align: center;
}

.Review-section p {
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
}
.Review-section {
    text-align: center;
  }
  
  .Review-section h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
  }
  
  .btn:hover {


    background-color: #1abc9c;
  }

  /* --========Billing Cyber security=======------- */


.contain {
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
}
.contain h1{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 50px;

}

.contain h1 span{
  color: red;
}

.service2 {
  background: linear-gradient(to bottom, #55efc4, #f9f9f9);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: inline-block;
    width: 40%;
    flex: 0 0 40%;
}

.service2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.service2 h1 {
    color: #333;
}

.service2 h2 {
    color: #666;
}

.service2 button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service2 button:hover {
    background-color: #454ea0;
}


@media screen and (max-width: 768px) {
  .service2 {
    width: 100%; 
  }
}


